.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
    padding-bottom: 100px;
  }

  .box * {
      color: rgba(0,0,0,0.7);
  }

:global(.dark-mode) .box * {
    color: rgba(255,255,255,0.7);
}

.body h2 {
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0;
}

.body h3 {
    font-size: 16px;
    font-weight: 500;
}

.box {
    max-width: 1000px;
    padding: 30px 0;    
}

.body ol, .body ul {
    font-size: 0.9em;
    padding: 0.5em 0;
    padding-left: 40px;
}

.body li {
    padding: 0.6em 0;
    line-height: 1.5em;
}

.box > ol > li {
    font-size: 17px;
}

.box a {
    font-weight: 500;
    text-decoration: underline;
}

.body :is(h2, a, h3) {
    color: #0047ba !important;
}

:global(.dark-mode) .body :is(h2, a, h3) {
    color: #94bdff !important;
}