.div {
  /* overflow: scroll; */
  /* flex-grow: 1; */
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: min(600px, 100vh);
}

.div * {
  white-space: nowrap;
}


.div table {
  border-collapse: collapse;
}

.div thead tr > th {
  position: sticky;
  z-index: 2;
  top: 0;
  padding-left: 6px;
  transition: border-width 0.1s ease;
  cursor: ew-resize;
}

.div thead tr > th, .symbolCell, .div tbody tr:hover  {
  background: #f8f8f8;
  color: black;
}

:global(.dark-mode) .div thead tr > th, :global(.dark-mode) .symbolCell, :global(.dark-mode) .div tbody tr:hover  {
  background: rgb(5, 12, 26);
  color: white;
}


.div thead tr > :first-child {
  z-index: 3;
  left: 0;
  top: 0;
}

.div tbody tr {
  border-bottom: 1px solid rgba(0,0,0,0.06);
}

:global(.dark-mode) .div tbody tr {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.div tbody tr > :first-child {
  position: sticky;
  z-index: 1;
  left: 0;
  font-size: 17px;
  padding: 1px 2px !important;
}

.div td {
  padding: 7px 10px;
  font-size: 15px !important;
  color: #666;
  /* font-weight: 300; */
}

.symbolCell {
  padding-left: 5px !important; 
  padding-right: 5px !important; 
}

.symbolCell div {
  display: flex;
  align-items: center;
  color: black !important;
  
}

:global(.dark-mode) .symbolCell div {
  color: white !important;
}

.symbolCell > svg {
  height: 0.9em;
  width: 0.9em;
  cursor: pointer;
}

.likeIcon {
  opacity: 0.3;
  /* transition: opacity 0.2s ease; */
}

.liked {
  opacity: 1;
  color: rgb(113, 105, 220);
}

.rowExpandIcon {
  opacity: 0;
  pointer-events: none;
}

.div tr:hover .rowExpandIcon {
  opacity: 0.4;
  pointer-events: all;
}


/* .rowExpandIcon:not(.div tr:hover) {
  opacity: 0;
  pointer-events: none;
  transition: none;
}

.div table tbody tr:hover .rowExpandIcon {
  opacity: 0.3 !important;  
  pointer-events: all !important;
} */

.symbolCell span {
  font-weight: 1000;
  flex: 1;
  padding: 0 5px;
}

.capWidth {
  text-overflow: ellipsis;
  overflow: hidden; /* for IE */
  max-width: 250px;
}


.div tr > :first-child {
  padding-left: 10px;
}

.div tr > :last-child {
  padding-right: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 3;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  padding: 30px;
  transition: opacity 0.2s ease;
  overflow: scroll;
}

:global(.dark-mode) .overlay {
  background-color: rgba(6, 10, 22, 0.5);
}

.overlay > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.overlay p {
  font-size: 20px;
  /* margin-bottom: 30px; */
}

.overlay p:nth-of-type(n + 2) {
  font-size: 14px;
  margin-bottom: -13px;
  opacity: 0.5;
}

.overlay :global(.MuiToggleButtonGroup-root) {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: 920px;
  background-color: rgba(255, 255, 255, 0.04);
}

.overlay :global(.MuiToggleButtonGroup-root) > button {
  padding: 0;
  border-radius: 0;
  border: none;
  padding: 2px 6px;
  flex: 1;
  opacity: 0.8;
  font-size: 13px;
  transition: background-color 0.13s ease;
}

:global(.dark-mode) .overlay :global(.MuiToggleButtonGroup-root) > button {
  opacity: 0.6;
}

.overlay
  :is(:global(button.Mui-selected), button:first-child, button:last-child) {
  opacity: 1 !important;
}

.overlay
  :global(.MuiToggleButtonGroup-root)
  :is(button:first-child, button:last-child) {
  color: white;
}

.overlay :global(#timeFrameToggle) {
  width: 400px;
}

.toolTip div[role="tooltip"] {
  max-width: none !important;
}

.listItem {
  padding: 3px 6px;
  border-radius: 5px;
  margin-right:4px;
  font-size: 13px;
  /* border: 1px solid red; */
}

.symbolIconButton * {
  /* margin: -6px 0; */
  padding: 0 !important;
}