.container {
  width: 100%;
  height: 160px;
  --topColor: rgb(151, 35, 35);
  --middleColor: rgba(0, 0, 0, 0.4);
  --bottomColor: rgb(0, 128, 17);
  --gradientStart: #ff000060;
  --gradientEnd: #00ff0060;
  /* overflow: hidden; */
  padding: -40px 0;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    var(--gradientStart),
    rgba(255, 255, 255, 0.1),
    var(--gradientEnd)
  );
  margin: 14px 0;
}

:global(.dark-mode) .container {
  --topColor: hsl(0, 100%, 64%);
  --middleColor: rgba(255, 255, 255, 0.3);
  --bottomColor: hsl(128, 80%, 64%);
  --gradientStart: #ff000050;
  --gradientEnd: #00ff0050;
}

.noRes {
  --gradientStart: transparent !important;
  --topColor: transparent !important;
}

.noSup {
  --gradientEnd: transparent !important;
  --bottomColor: transparent !important;
}

.level {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 9;
  top: 0px;
  transform: translateY(-50%);
}

.line {
  flex: 1;
  height: 0;
  border-top: 2px dashed var(--middleColor);
}

.level span {
  display: block;
  font-size: 12px;
  line-height: 100%;
  opacity: 1;

  transform: translateY(-14px);
  padding-left: 4px;
  /* color: black; */
}

.level p {
  padding: 2px 6px;
  font-size: 16px;
  border-radius: 6px;
  color: white;
}

:global(.dark-mode) .level p {
  /* background-color: rgba(0, 0, 0, 0.3); */
  color: black;
}

.level:nth-of-type(1) p {
  background-color: var(--topColor);
}

.level:nth-of-type(3) p {
  background-color: var(--bottomColor);
}

.close .level p {
  background-color: var(--middleColor) !important;
  backdrop-filter: blur(40px) saturate(500%);
}

:global(.dark-mode) .close .level p {
  backdrop-filter: blur(40px) saturate(800%);
}

.baseLines {
  position: absolute;
  height: 100%;
  width: 100%;
  border-top: 3px solid var(--topColor);
  border-bottom: 3px solid var(--bottomColor);
}
