.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.banner {
  display: flex;
  /* background-color: rgb(151, 255, 168); */
  font-size: 16px;
  /* line-height: 300%; */
  padding: 12px;
  justify-content: center; /* align-items: stretch; */
  cursor: pointer;
  z-index: 999999;
}

/* .banner p:first-child {
  font-weight: 1000;
} */

.banner p:last-child {
  padding-left: 7px;
  opacity: 0.7;
}

:global(.dark-mode) .banner {
  /* background-color: rgb(0, 155, 95); rgb(0, 121, 177);  */
}

.header > * {
  display: flex;
  flex-wrap: row;
  flex-wrap: nowrap;
  align-items: center;
}

.imgWrapper {
  /* padding: 7px; */
  /* border-radius: 12px; */
  margin-right: 14px;
  margin-left: 14px;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.header img {
  width: 100%;
  /* width: 30px;
  height: 30px; */
}
/* :global(.dark-mode) .nav {
  filter: invert(100%);
} */

.nav {
  /* padding: 0 30px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav > * {
  padding: 6px 12px;
  font-size: 16px;
}

.nav button {
  padding: 6px;
}

.header h1 {
  font-size: 26px;
}

.footer {
  padding: 30px 20px;
}

.disclaimer {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.3;
}

.copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.3;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.linksGroup {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.linksGroup p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.linksGroup a {
  font-size: 14px;
  padding: 3px 0;
  /* text-align: center; */
  opacity: 0.5;
  transition: opacity 0.1s ease;
  cursor: pointer;
}

.linksGroup a:hover {
  opacity: 1;
}

.body {
  flex: 1;
  /* flex-direction: column;
  align-items: center; */
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cookieConsent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: calc(100vw - 48px);
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}

.cookieConsent :global(.MuiAlert-icon){
  margin: 0;
}

.cookieConsent :global(.MuiAlert-action) {
  padding: 0 0px;
  margin: 0;
  margin-top:4px;
}

.cookieConsent button {
  margin: 0 4px;
  padding: 6px 14px;
}

.cookieConsent a {
  color: inherit !important;
  font-weight: 500;
}

@media screen and (max-width: 740px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    height: auto !important;
    padding: 10px 20px;
  }
  .nav {
    margin-top: 4px;
  }
}
