.cover {
  height: 100vh;
  min-height: 650px;
  width: 100%;
  background: linear-gradient(to bottom right, #7dd8ff, #8f95ff);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 1000px;
}

.demo {
  width: 292px;
  height: max(calc(100% - 200px), 300px);
  /* max-height: 100%; */
  overflow-y: scroll;
  border-radius: 14px;
  backdrop-filter: blur(6px);
  animation: slide 2s ease-out;
}

.demoDisclaimer {
  padding: 20px 30px;
  text-align: center;
  font-size: 14px;
}

.spacer {
  width: min(calc(-35px + 7vw), 100px);
  height: 40px;
}

@media screen and (max-width: 800px) {
  .cover {
    flex-direction: column;

    min-height: 900px;
  }
  .demo {
    width: min(440px, calc(100vw - 40px));
    height: calc(100% - 450px);
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 400px) {
  /* .spacer {
    display: none;
  } */
  .demo {
    margin-bottom: -100px !important;
  }
}

:global(.dark-mode) .cover {
  background: linear-gradient(to bottom right, #006370, #242e81);
}

.flipY {
  transform: scaleY(-1);
}

.flipX {
  transform: scaleX(-1);
}

.cover h2 {
  font-size: 40px;
  /* max-width: 400px; */
  text-align: center;
  color: #4b73e0;
  font-weight: 400;
  line-height: 150%;
  font-size: 34px;
}

:global(.dark-mode) .cover h2 {
  color: #8dacff;
}

.cover h2 span {
  color: black;
  font-size: 120%;
}

:global(.dark-mode) .cover h2 span {
  color: white;
}

.addButton {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  padding: 13px 20px;
  margin-top: 27px;
  border-radius: 8px;
  /* border: 2px solid black; */
}

:global(.dark-mode) .addButton {
  background-color: rgba(0, 0, 0, 0.7);
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover .flexCenter {
  margin: 0 20px;
}

.about {
  padding: 40px 40px;
  text-align: center;
  padding-bottom: 100px;
}

.about h4 {
  font-size: 30px;
  margin: 40px 0 20px 0;
}

.about h3 {
  font-size: 22px;
  color: rgb(116, 116, 116);
  line-height: 160%;
  margin: 10px 0;
  font-weight: 100;
  max-width: 1000px;
}

:global(.dark-mode) .about h3 {
  color: rgb(154, 164, 196);
}

.about h3 span {
  color: rgb(54, 67, 180);
}

:global(.dark-mode) .about h3 span {
  color: #779cff;
}

.brokers img {
  filter: contrast(0) brightness(0);
  opacity: 0.5;
}

:global(.dark-mode) .brokers img {
  filter: contrast(0) brightness(10000%);
}

.brokers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 20px 0;
  gap: 20px;
}

.offerings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin: 30px 0;
}

@media screen and (max-width: 800px) {
  .offerings {
    flex-direction: column;
  }
}

.offerings div {
  flex: 1;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  background: linear-gradient(to bottom right, #00cfcb, #623fc2);
  color: white;
}

:global(.dark-mode) .offerings div {
  /* background-color: rgb(34, 62, 144, 0.7); */background: linear-gradient(to bottom right, #007b7b, #2c2481);
}

.offerings svg {
  width: 30px;
  height: 30px;
}

.offeringTitle {
  font-size: 24px;
  margin: 10px;
}

.offeringCaption {
  font-size: 16px;
  opacity: 0.7;
}

.offerings button {
  margin-top: 24px;
}

@media screen and (max-width: 600px) {
  .cover h2 {
    font-size: calc(7px + 5vmin);
  }
  .demo {
    margin-bottom: -100px;
  }
  .about {
    padding: 30px 20px 70px 20px;
  }
  .about h4 {
    font-size: 26px;
  }
  .about h3 {
    font-size: 20px;
  }
  .brokers {
  }
}

.meet {
  animation: slideDown 2s ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
