* ***REMOVED***
  padding: 0;
  margin: 0;
***REMOVED***

html ***REMOVED***
  background-color: white;
***REMOVED***

body ***REMOVED***
  background-color: #f7f7f7;
  min-height: 100vh;
***REMOVED***

* ***REMOVED***
  font-family: "Asap", sans-serif;
  font-weight: 100;
***REMOVED***

a ***REMOVED***
  color: inherit;
  text-decoration: none;
***REMOVED***

* ***REMOVED***
  box-sizing: border-box;
***REMOVED***
