* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  position: relative;
  scrollbar-width: thin;
}

body {
  background-color: white;
}

body.dark-mode {
  background-color: #0e1723;
}

/* body.transparent {
  background-color: rgba(255, 255, 255, 0.75);
}

body.transparent.dark-mode {
  background-color: #0e1723c0;
} */

.dark-mode
  :is(h1, h2, h3, h4, h5, h6, p, input[type="text"], input[type="number"], .MuiAlert-root, .MuiFormControlLabel-label, td, th, textarea) {
  color: white;
}
.dark-mode svg text {
  fill: white !important;
}

/* .dark-mode a,
a:visited {
  color: white;
  text-decoration: none;
} */

a,
a:visited {
  text-decoration: none;
}

a {
  color: black !important;
}

.dark-mode a {
  color: white !important;
}

.absoluteBottom {
  position: absolute;
  bottom: 0;
}

.absoluteTop {
  position: absolute;
  top: 0;
}

.pageHeader {
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.MuiInputBase-root * {
  /* transition: border-color 0.5s ease; */
  /* border-color: initial !important; */
}

.MuiAlert-root {
  filter: saturate(200%);
  /* background-color: #444; */
}

.dark-mode .MuiAlert-root {
  filter: saturate(200%) brightness(3);
}

.dark-mode .MuiAlert-root > * {
  filter: brightness(0.33334);
}

.MuiTooltip-popper,
.MuiModal-root {
  z-index: 999999 !important;
  /* background-color: red; */
}
